html {
    background-color: rgb(204, 203, 203);
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0, auto;
    background-color: rgb(242, 247, 247);
    padding: 50px;    
}


.navbar {
    height: 20px;
    border-bottom: 2px dashed black;
    text-align: right;

    @media (max-width: 480px) {
        border-bottom: none;
    } 
}

.navbar_link {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    height: 22px;
    box-sizing: border-box;
    padding: 0 20px;
    cursor: pointer;
    color: black;
    text-decoration: none;

    @media (max-width: 480px) {
        display: table-row;
        text-align: center;
    }
}

.navbar_link:hover{
    border-bottom: 2px solid rgb(12, 9, 238);
}


.section_1 {
    height: 100px;
    border-bottom: 5px solid black;
    text-align: left;
}

.about_me_text {
    font-size: 80px;
    font-weight: bold;
    line-height: 40px;
    padding: 48px 0;
    text-shadow: 5px 1px 0 rgb(190, 192, 192);
   
    @media (max-width: 520px) {
        font-size: 45px;
        padding: 60px;

    }
}

.section_photo {
    margin: 30px 30px 30px 0;

}

.section_text {
    width: 60%;
    margin: 30px 30px 30px 10px;
    box-sizing: border-box;
}

.section_2 {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    
    @media (max-width: 980px) {
        flex-direction: column;
        border-bottom: none;
    }
}


.header {
    background-color: black;
    display: inline-block;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    position: relative;
    color: white;
    font-size: 18px;
}

.header::after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border-left: 30px solid black;
    border-bottom: 40px solid transparent;
    right: -30px;
    top: 0;
}

.text1 {
    font-size: 18px;
    margin: 10px auto;
}

.text2 {
    padding: 20px;
    font-style: italic;
    height: 130px;
    box-sizing: border-box;
    background-color: rgb(179, 175, 175);

    @media (max-width: 1180px) {
        background-color: rgb(242, 247, 247);
    }

    @media (max-width: 700px) {
        height: 100%
    }
}

.text3 {
    text-align: right;
    margin: 10px;
}

.text4 {
    font-weight: bold;
}

.section_3 {
    padding: 40px 20px 15px 20px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;

    @media (max-width: 1200px) {
        flex-direction: column;
        
    }

}


.column1, .column2 {
    width: 48%;
    
}


li {
    list-style-type: none;
    position: relative;
    
}

li:before {
    content: "";
    height: 10px;
    width: 10px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    margin: 3px 7px 0 0;
    position: absolute;
    left: -30px;
}

.blocks {
    width: 500px;
    height: 20px;
    margin: 0;
    font-size: 0;

    @media (max-width: 600px) {
        width: 350px ;
      
    }

}
.block {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 100px;
    height: 15px;
    display: inline-block;
    box-sizing: border-box;

    @media (max-width: 600px) {
        width: 65px ;
      
    }

 }


 .block_numb {
    width: 97px;
    height: 10px;
    display: inline-block;
    text-align: end;
    font-size: 14px;
    
    
    @media (max-width: 600px) {
        width: 60px ;
      
    }
 }

 .list-one {
    width: 480px;

    @media (max-width: 600px) {
        width: 300px ;
      
    }
 }
 .list {
    background-color: rgb(179, 175, 175);
    padding: 10px;
    height: 10px;
    width: 100%;
    line-height: 13px;
    color: black;
    font-style: italic;
    font-size: 18px;
    
}
.list:first-of-type{
    width: 80%;
}


.list:last-of-type {
    width: 59%;
}

.list:nth-of-type(4n) {
    width: 80% ;
}

.section_4 {
    display: flex;
    flex-direction: row;
    padding: 15px 40px;
    
@media (max-width: 980px) {
    flex-direction: column;
    border-bottom: none;
}
}

.photo {
    width: 170px;
    height: 170px;
    padding-right: 40px;
    border-radius: 50%;
}
    
.section_5 {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    position: relative;

    @media (max-width: 850px) {
        flex-direction: column;
        
    }

}

.contact_1, .contact_2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 30px 0 20px 80px;
}

.text_5 {
    font-size: 26px;
}

.circle {
    width: 100%;
    background: radial-gradient(circle closest-side, white 90px, black 120px, white 150px, black 100px);
}

p {
    position: absolute;
    top: 300px;
}

.a_1:visited, .a_1:focus, .a_1:hover {
    color: white;
}

.name_circle {
    color: black;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    


}